<article class="post">
    <section class="section">
        <div class="container">
            <div class="title">
                <a href="/post/{{id}}" target="_blank">{{title}}</a>
            </div>
            <div class="meta">
                <div class="contents">
                    <p>{{post_contents}}</p>
                </div>
                Created by {{user.username}}
                on {{format_date created_at}}
            </div>
        </div>
    </section>
</article>